*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}
.global{
    display: flex;
    justify-content: center;
    min-height: 20vh;
}
a{
    color: yellow;
}
a:hover{
    color: rgb(160, 193, 250);
}
.global > section,
.global > header,
.global > footer{
    flex: 0 1 800px;
    // border: 1px solid grey;
    padding: 3rem 1rem;
    // background-color: rgba(62, 153, 161, 0.25);
    border-radius: 15px;
}
button{
    position: absolute;
    bottom: 0;
    right: 50%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
}
button:hover{
    background-color: var(--couleur--arrier-entete);
    color: var(--couleur--arrier-galerie);
}
#entete, #footer{
    min-height: 10vh;
}
#entete{
background-color: var(--couleur--arrier-entete);
color: var(--couleur--entete);
position: relative;
}
#accueil{
background-color: var(--couleur--arrier-accueil);
color: var(--couleur--accueil);
position: relative;
min-height: 40vh;
}
#evenement{
    background-color: var(--couleur--arrier-evenement);
    color: var(--couleur--evenement);
    position: relative;
    z-index: 1;
    min-height: 40vh;
}
#galerie{
    background-color: var(--couleur--arrier-galerie);
    color: var(--couleur--galerie);
    min-height: 40vh;
    position: relative;
}
#footer{
    background-color: var(--couleur--arrier-footer);
    color: var(--couleur--footer);
    position: relative;
}
