*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}
.global{
    display: flex;
    justify-content: center;
    min-height: 40vh;
}
.global > section,
.global > header,
.global > footer{
    flex: 0 1 800px;
    // border: 1px solid grey;
    padding: 3rem 1rem;
    background-color: rgba(62, 153, 161, 0.25);
}
#entete, #footer{
    min-height: 7vh;
}
#entete{
background-color: var(--couleur--arrier-entete);
}
#accueil{
background-color: var(--couleur--arrier-accueil);
}
#evenement{
    background-color: var(--couleur--arrier-evenement);
}
#galerie{
    background-color: var(--couleur--arrier-galerie);
}
#footer{
    background-color: var(--couleur--arrier-footer);
}
