:root {
    /*==================*/
    /* TEINTE COMPLÉMENTAIRE PARTAGÉ */
    --u1: 82; //couleur inititale
    --u2: calc(var(--u1) + 180); //couleur complementaire
    --u3: calc(var(--u2) - 30); //couleur analogue gauche
    --u4: calc(var(--u2) + 30); //couleur analogue droite

    /* TEINTE TRIADE */
    --t1: 30;
    --t2: calcl(var(--t1) + 120);
    --t3: calcl(var(--t1) - 120);
    

    /*SAturation*/
    --s--arriere: 70%;
    --s-avant: 50%;

    /*luminosite*/
    --l-arriere:30%;
    --l-avant:80%;


    /* couleur arriere plan --background color--*/
    /***********************Couleur 180 degree*/
    --couleur--arrier-entete:hsl(var(--u1), var(--s--arriere), var(--l-arriere));
    --couleur--arrier-accueil:hsl(var(--u2), var(--s--arriere), var(--l-arriere));
    // --couleur--arrier-evenement:hsl(var(--u3), var(--s--arriere), var(--l-arriere));
    // --couleur--arrier-galerie: hsl(var(--u4), var(--s--arriere), var(--l-arriere));
    --couleur--arrier-footer:hsl(var(--u1), var(--s--arriere), var(--l-arriere));

   /* couleur avant plan --color-- */
   --couleur--entete:hsl(var(--u1), var(--s-avant), var(--l-avant));
    --couleur--accueil:hsl(var(--u2), var(--s-avant), var(--l-avant));
    --couleur--evenement:hsl(var(--u3), var(--s-avant), var(--l-avant));
    --couleur--galerie: hsl(var(--u4), var(--s-avant), var(--l-avant)); 
    --couleur--footer:hsl(var(--u1), var(--s-avant), var(--l-avant));

    

    /*---couleur monochrome arriere plan****/
    // --couleur--arrier-entete:hsl(var(--u1), 100%, 30%);
    // --couleur--arrier-accueil:hsl(var(--u1), 100%, 25%);
    // --couleur--arrier-evenement:hsl(var(--u1), 100%, 20%);
    // --couleur--arrier-galerie: hsl(var(--u1), 100%, 15%);
    // --couleur--arrier-footer:hsl(var(--u1), 100%, 30%);

    /*couleur evenement setup pour le diagonal*/
    --couleur--arrier-evenement : var(--couleur--arrier-accueil);
    --couleur--arrier-galerie: var(--couleur--arrier-accueil);
    
    
}

