:root {
    --couleur--arrier-entete:#94d4f8;
    --couleur--arrier-accueil:rgb(43, 99, 43);
    --couleur--arrier-evenement:#034;
    --couleur--arrier-galerie:#583;
    --couleur--arrier-footer:rgb(250, 226, 146);

}