h1{
    font-size:clamp(1rem, -1.292rem + 7.333vw, 3.75rem);
    font-family: 'Inter', sans-serif;
}
h2{
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
h3{
    font-family: 'Work Sans', sans-serif;
}
h4{

}
h5{

}
h6{

}
